@import '_globals';

.loading {
    position: fixed;
    min-height: 60vh;
    min-width: 100vw;
    z-index: 10;

    &__spinner {
        color: rgba(0, 0, 0, 20%);
        display: inline-block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
